#pagination {
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pagination .page-btn {
  padding: 0 10px;
  margin: 0 2px;
  background-color: #34495e;
  color: #fff;
  border: none;
  cursor: pointer;
}

#pagination .current-page-input {
  width: 30px;
  text-align: center;
  padding: 0;
}

#pagination .total-pages {
  font-weight: bold;
}
