<div class="crud-pagination">
  <button class="page-btn first-page-btn" (click)="firstPage()">
    &laquo;&laquo;
  </button>
  <button class="page-btn prev-page-btn" (click)="prevPage()">&laquo;</button>
  <span>
    Page
    <input
      type="number"
      class="current-page-input"
      [(ngModel)]="pageNumber"
      [min]="1"
      [max]="totalPages"
      (change)="onPageInputChange($event)"
    />
    of <span class="total-pages">{{ totalPages }}</span>
  </span>
  <button class="page-btn next-page-btn" (click)="nextPage()">&raquo;</button>
  <button class="page-btn last-page-btn" (click)="lastPage()">
    &raquo;&raquo;
  </button>
</div>
