<div id="top-menu">
  <ul>
    <li routerLinkActive="selected" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="/">Home</a>
    </li>
    <li routerLinkActive="selected">
      <a routerLink="/documents">Documents</a>
    </li>
    <li routerLinkActive="selected">
      <a routerLink="/categories">Categories</a>
    </li>
    <li routerLinkActive="selected">
      <a routerLink="/document-templates">Document templates</a>
    </li>
    <li routerLinkActive="selected"><a routerLink="/settings">Settings</a></li>
  </ul>
</div>
