<div id="top-menu">
  <ul>
    <li routerLinkActive="selected" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="/">Home</a>
    </li>
    <li *ngIf="authService.isAuthenticated()" routerLinkActive="selected">
      <a routerLink="/documents">Documents</a>
    </li>
    <li *ngIf="authService.isAuthenticated()" routerLinkActive="selected">
      <a routerLink="/categories">Categories</a>
    </li>
    <li *ngIf="authService.isAuthenticated()" routerLinkActive="selected">
      <a routerLink="/templates">Templates</a>
    </li>
    <li *ngIf="authService.isAuthenticated()" routerLinkActive="selected">
      <a routerLink="/settings">Settings</a>
    </li>
  </ul>
</div>
