.crud-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.crud-header h2 {
  margin: 0;
}

.search-form {
  display: flex;
}

.search-form input[type='text'] {
  padding: 5px;
  width: 200px;
}

.search-form button {
  border: 1px solid #34495e;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 5px;
}
.search-form button:hover {
  background-color: #255283;
  color: #fff;
}
