<documents-crud-header
  (searchChanged)="onSearchChanged($event)"
  (addDocument)="openModal('add')"
></documents-crud-header>
<documents-crud-table
  [documentsList]="documentsList"
  (sortChanged)="onSortChanged($event.sortColumns, $event.sortDirections)"
  (viewDocument)="openModal('view', $event)"
  (editDocument)="openModal('edit', $event)"
  (deleteDocument)="openModal('delete', $event)"
></documents-crud-table>
<documents-crud-pagination
  [totalElements]="totalElements"
  [size]="size"
  [pageNumber]="pageNumber"
  (pageChanged)="onPageChanged($event)"
></documents-crud-pagination>
<documents-crud-form
  *ngIf="showModal"
  [showModal]="showModal"
  [mode]="modalMode"
  [document]="selectedDocument"
  [errorMessage]="errorMessage"
  (close)="closeModal()"
  (save)="saveDocument($event)"
  (delete)="deleteDocument($event)"
></documents-crud-form>
