<documents-crud-header
  (searchChanged)="onSearchChanged($event)"
  (addDocument)="openModal('add')"
></documents-crud-header>
<documents-crud-table
  [documentsList]="documentsList"
  (sortChanged)="onSortChanged($event.sortColumns, $event.sortDirections)"
></documents-crud-table>
<documents-crud-pagination
  [totalElements]="totalElements"
  [size]="size"
  [pageNumber]="pageNumber"
  (pageChanged)="onPageChanged($event)"
></documents-crud-pagination>
<documents-crud-form
  *ngIf="showModal"
  [showModal]="showModal"
  [mode]="modalMode"
  [document]="selectedDocument"
  (close)="closeModal()"
  (save)="saveDocument($event)"
></documents-crud-form>
